.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  
}

.navbar-inverse{
      border-style: none;
}

.navbar-nav{

  margin-left: 450px;
   
}

.App-header {
 // background-color: #222;
 background: linear-gradient(#222, #339b8f);
  height: 80px;
  padding: 20px;
  color: white;
}

.sideBar{
    left: -30px;
    position: absolute;
    z-index: 2;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.childContainer{
  float:left;
  width: 80%;
  //overflow: auto;
 position: absolute;
  left: 180px;
}


.container{

  margin-top: 20px;
  //text-align: center;
}

.jumbotron{
  color: black;
  width: 80%;
}

table td{
  text-align: center;
}
.App-footer{
  //background-color: #4d5460;
  background: linear-gradient(#222, #339b8f);
  height: 50px;
  padding: 10px;
  color: white;
  margin-top: 880px; 
  text-align: center;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


table th{
  text-align: center;
}

 .filter-input{
    float: right;
}
